root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 120
ij_formatter_off_tag = @formatter:off
ij_formatter_on_tag = @formatter:on
ij_formatter_tags_enabled = false
ij_smart_tabs = false
ij_wrap_on_typing = false

[*.yml]
indent_style = space
indent_size = 2

[*.{md,xml,sh,json,gradle,html}]
indent_style = space
indent_size = 4

[*.java]
# Java formatting is managed by Spotless with Google Java Format
# Google Java Format uses 2-space indentation
indent_style = space
indent_size = 2
ij_java_use_single_class_imports = true
ij_java_packages_to_use_import_on_demand = false
ij_java_class_count_to_use_import_on_demand = 99
ij_java_names_count_to_use_import_on_demand = 1
